---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Yang Yu" description="Yang Yu's personal website">
  <h1>Yang Yu</h1>
  
  <p>
    I'm a developer who likes building things and writing about what I learn.
  </p>
  
  <p>
    This is my corner of the internet where I share thoughts on programming, 
    projects I'm working on, and other things I find interesting.
  </p>
  
  <p>
    You can read my <a href="/posts">posts</a> or check out my <a href="/projects">projects</a>.
  </p>
</Layout>