---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yang Yu" description="Yang Yu's personal website">
  <h1>About me</h1>
  <ul>
    <li>
      <strong>Who I am</strong>
      <ul>
        <li>Full stack developer based in the Bay Area</li>
        <li>
          Currently at: <a
            href="https://weavegrid.com"
            target="_blank"
            rel="noopener noreferrer">Weavegrid</a
          >
        </li>
      </ul>
    </li>
    <li>
      <strong>Blog</strong>
      <ul>
        <li>Notes on things I learn</li>
        <li>Random ideas and interests</li>
      </ul>
    </li>
    <li>
      <strong>Hobbies</strong>
      <ul>
        <li>Trail running</li>
        <li>Used to play tennis</li>
        <li>Used to rock climb</li>
        <li>(Hope to get back into both)</li>
      </ul>
    </li>
  </ul>

  <p>
    <strong>Feel free to reach out!</strong><br />
    Email: <a href="mailto:yang@yangyu.dev">yang@yangyu.dev</a><br />
    GitHub: <a
      href="https://github.com/yangyu-02"
      target="_blank"
      rel="noopener">@yangyu-02</a
    ><br />
    LinkedIn: <a
      href="https://linkedin.com/in/yangyu0616"
      target="_blank"
      rel="noopener">Yang Yu</a
    >
  </p>
</Layout>
