---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yang Yu" description="Yang Yu's personal website">
  <h1>About me</h1>
  <strong>Who am I</strong>
  <ul>
    <li>Fullstack developer based in SF</li>
    <li>
      Currently at: <a
        href="https://weavegrid.com"
        target="_blank"
        rel="noopener noreferrer">Weavegrid</a
      >
    </li>
  </ul>
  <p>
    <strong>About this blog</strong><br />
    This blog is mostly about the random rabbit holes I fall into.
  </p>

  <p>
    <strong>Feel free to reach out!</strong><br />
    Email: <a href="mailto:yang@yangyu.dev">yang@yangyu.dev</a><br />
    GitHub: <a
      href="https://github.com/yangyu-02"
      target="_blank"
      rel="noopener">@yangyu-02</a
    ><br />
    LinkedIn: <a
      href="https://linkedin.com/in/yangyu0616"
      target="_blank"
      rel="noopener">Yang Yu</a
    >
  </p>
</Layout>
