---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" description="Projects by Yang Yu">
  <h1>Projects</h1>

  <p>Things I've built or am working on:</p>

  <ul>
    <li>tbd</li>
  </ul>
</Layout>
