---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects" description="Projects by Yang Yu">
  <h1>Projects</h1>
  
  <p>Things I've built or am working on:</p>
  
  <ul>
    <li>
      <strong>This blog</strong> - A simple Astro site for writing and sharing thoughts
    </li>
  </ul>
  
  <p>More projects coming soon as I build them.</p>
</Layout> 